<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>To Do List</title>
</head>
<body>
    <div class="container">
      <div class="row" align="center" style="background-color:#99CCFF">
        <h1>Welcome to my site!</h1>
        <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">1</button>
  <button type="button" class="btn btn-default">2</button>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/">Dropdown link</a></li>
      <li><a href="/">Dropdown link</a></li>
    </ul>
  </div>
</div>
        </div>
      <div class="row">
      <div class="col-sm-6" style="background-color:#F5FFFF">
    <h1><strong>To do list</strong></h1>

    {% if tasks is not empty %}
        <p>Here are all your tasks:</p>
        <ul>
           {% for task in tasks %}
               <li>{{ task.getDescription }}</li>
           {% endfor %}
        </ul>
    {% endif %}
  </div>
  <div class="col-sm-6" style="background-color:#D1F0FF">
    <h3>Add your item here:</h3>
    <form action='/tasks' method='post'>
        <label for='description'>Task Description</label>
        <input id='description' name='description' type='text'>

        <button type='submit' class="btn btn-success btn-sm">Add task</button>
    </form>

    <p><form action='/delete_tasks' method='post'>
        <button type='submit' class="btn btn-danger btn-xs">Clear List</button>
    </p>
    </form>
  </div>
  </div>
</body>
</html>
